/* ===== M.R. TechForge Variables ===== */

:root {
  --forge-bg: #0A0D12;
  --forge-text: #D8D8D8;
  --forge-accent: #0A6DFF;
  --forge-accent-dark: #1B3C66;
  --forge-hotmetal: #FF9B28;
  --forge-steel: #C0C0C0;
  --forge-silver: #D8D8D8;
}
